In [ ]:
#one sample t test

# the average height of Std X student in Indian is 165 cm, pick out a sample

In [1]:
# H0=> the average height is 165 cm
# H1=> the average height is not 165 cm

In [1]:
from random import sample

In [3]:
sample1=sample(range(145,180),30)

In [4]:
sample1

[174,
 160,
 178,
 166,
 152,
 172,
 154,
 164,
 167,
 162,
 176,
 159,
 145,
 155,
 151,
 161,
 168,
 146,
 157,
 153,
 150,
 148,
 147,
 165,
 173,
 149,
 179,
 175,
 169,
 163]

In [5]:
from scipy.stats import ttest_1samp

In [6]:
ttest_1samp(a=sample1,popmean=165)

TtestResult(statistic=-1.9676813168220666, pvalue=0.058733999531906285, df=29)

In [ ]:
# here p value > 0.05 hence we accept null hypothesis

In [ ]:
#2 sample t test
# s1=>male
# s2=>female

# h0=the means are same
# h1=the means are different

In [2]:
sample1=sample(range(145,185),30)
sample2=sample(range(135,165),30)

In [3]:
from scipy.stats import ttest_ind

In [4]:
ttest_ind(sample1,sample2)

TtestResult(statistic=6.032610236880175, pvalue=1.204150242809534e-07, df=58.0)

In [ ]:
# here p val < 0.05 hence we reject null hypothesis

In [5]:
#Paired t test 
# h0=> the mean are equal
# h1=> the mean are not same

In [6]:
sample1=sample(range(135,185),30)
sample2=sample(range(135,185),30)

In [7]:
from scipy.stats import ttest_rel

In [9]:
ttest_rel(sample1,sample2)

TtestResult(statistic=-0.885134525835643, pvalue=0.38336462788771897, df=29)

In [10]:
# here p vale > 0.05 hence accept null hypothesis

In [16]:
import scipy

In [13]:
import numpy as np

In [11]:
#F test
sample_1=sample(range(0,100),30)
sample_2=sample(range(20,80),30)

In [14]:
f_stat=np.var(sample_1)/np.var(sample_2)

In [17]:
p=1-scipy.stats.f.cdf(f_stat,len(sample_1)-1,len(sample_2)-1)

In [19]:
print(f_stat,p)

2.477078820941187 0.008607477819972065

In [20]:
# here p is < 0.05 so we can reject null hypothesis

In [ ]:
#ANOVA

#One way Anova

# We have to check the effect of 4 different enhancers on EV is same or not

# H0=> The perfomance averages are equal
# H1=> The perfomance averages are not equal

In [21]:
sample1=sample(range(0,100),20)
sample2=sample(range(0,95),20)
sample3=sample(range(0,120),20)
sample4=sample(range(0,145),20)

In [22]:
from scipy.stats import f_oneway

In [23]:
f_oneway(sample1,sample2,sample3,sample4)

F_onewayResult(statistic=7.503557951052022, pvalue=0.0001829448596976876)

In [ ]:
# here p value < 0.05 hence we reject null hypothesis (hence the perfomance enhancers have impact on perfomance)

In [24]:
#2 way annova

# h0= there is no sognificance of two factors on the response variable
# h1=> there is significance of 2 factors on the response variable

x={'Lectures':np.repeat(['Daily','Weekly'],20),
  'Tution':np.repeat(['Daily','Weekly'],20),
   'Marks':sample(range(35,100),40)}

In [25]:
import pandas as pd

In [26]:
marks_data=pd.DataFrame(x)

In [27]:
marks_data

   Lectures  Tution  Marks
0     Daily   Daily     71
1     Daily   Daily     95
2     Daily   Daily     87
3     Daily   Daily     68
4     Daily   Daily     73
5     Daily   Daily     58
6     Daily   Daily     89
7     Daily   Daily     64
8     Daily   Daily     94
9     Daily   Daily     45
10    Daily   Daily     69
11    Daily   Daily     91
12    Daily   Daily     46
13    Daily   Daily     52
14    Daily   Daily     81
15    Daily   Daily     49
16    Daily   Daily     41
17    Daily   Daily     92
18    Daily   Daily     44
19    Daily   Daily     70
20   Weekly  Weekly     47
21   Weekly  Weekly     97
22   Weekly  Weekly     85
23   Weekly  Weekly     40
24   Weekly  Weekly     93
25   Weekly  Weekly     62
26   Weekly  Weekly     59
27   Weekly  Weekly     60
28   Weekly  Weekly     50
29   Weekly  Weekly     82
30   Weekly  Weekly     56
31   Weekly  Weekly     43
32   Weekly  Weekly     51
33   Weekly  Weekly     39
34   Weekly  Weekly     80
35   Weekly  Weekly     36
36   Weekly  Weekly     72
37   Weekly  Weekly     77
38   Weekly  Weekly     53
39   Weekly  Weekly     35

In [28]:
# now running ols model to create relationship between the 2 factors and output variable

from statsmodels.formula.api import ols

In [29]:
models=ols('Marks ~ C(Lectures)+ C(Tution) + C(Lectures):C(Tution)',data=marks_data).fit()

# marks is output variable and c(lectures) is independet variable, tution is the second variable and c(tution): c (lectures) mean both are togetnher

In [31]:
import statsmodels.api as sm

In [34]:
sm.stats.anova_lm(models)

                         df        sum_sq     mean_sq         F    PR(>F)
C(Lectures)             1.0    656.100000  656.100000  1.821235  0.185152
C(Tution)               1.0    648.021355  648.021355  1.798810  0.187818
C(Lectures):C(Tution)   1.0    277.950714  277.950714  0.771550  0.385259
Residual               38.0  13689.500000  360.250000       NaN       NaN

In [ ]:
# Here p value is 0.38 which is greaer than 0.05 hence we will accept null hypothesis
#here we considered p value of 3rd row of c(lectures):c(tution) as we want to understad the impact of both variables on the output